Package: masq.extension.sb11
Name: Masq11
Version: 1.0
Architecture: iphoneos-arm
Description: iOS 11+ SpringBoard extension for MASQKit!
Maintainer: candoizo
Author: candoizo
Section: Tweaks (Masq Extensions)
Depends: ca.ndoizo.masq
