Package: masq.extension.maize
Name: MASQMaize
Depends: ca.ndoizo.masq
Version: 1.0
Architecture: iphoneos-arm
Description: iOS 10 Maize (tweak) extension for MASQKit!
Maintainer: candoizo
Author: candoizo
Section: Extensions
