Package: masq.theme.customcover
Name: Custom Cover Masqpack
Version: 1.0b
Architecture: iphoneos-arm
Description: Masq-compatible pack of themes originally conceptualized by Charlie Hewitt's CustomCover!
Maintainer: candoizo
Author: candoizo
Section: Tweaks (Masq Themes)
Depends: ca.ndoizo.masq
