Package: ca.ndoizo.masq
Name: Masq
Depends:
Version: 2.0a
Architecture: iphoneos-arm
Description: Artwork themeing & music aesthetics everywhere!
Maintainer: candoizo
Author: candoizo
Section: Tweaks
