Package: masq.extension.springboard
Name: MASQSpringBoard
Version: 1.0.1
Architecture: iphoneos-arm
Description: Artworking themeing in SpringBoard using MasqKit!
Maintainer: candoizo
Author: candoizo
Section: Tweaks (Masq Extensions)
Depends: ca.ndoizo.masqkit, firmware (>= 11.0)
Depiction: https://ndoizo.ca/masq.extension.springboard
