Package: masq.extension.sb11
Name: Masq11
Version: 1.0
Architecture: iphoneos-arm
Description: SpringBoard extension developed for iOS 11 using MasqKit!
Maintainer: candoizo
Author: candoizo
Section: Tweaks (Masq Extensions)
Depends: ca.ndoizo.masqkit, firmware (>= 11.0)
