Package: masq.extension.10
Name: MASQ10
Depends: ca.ndoizo.masq
Version: 1.0
Architecture: iphoneos-arm
Description: iOS 10 SpringBoard extension for MASQKit!
Maintainer: candoizo
Author: candoizo
Section: Extensions
