Package: masq.theme.customcover
Name: CustomCover Masqpack
Version: 1.0b
Architecture: iphoneos-arm
Description: Iconic CustomCover themes by Charlie Hewitt, converted for Masq!
Maintainer: candoizo
Author: candoizo
Section: Tweaks (Masq Themes)
Depends: ca.ndoizo.masq
