Package: masq.extension.music.swifty
Name: MasqMusic
Depends: ca.ndoizo.masq, firmware (>= 10.0)
Version: 1.0
Architecture: iphoneos-arm
Description: Music.app (iOS 10+) extension using MasqKit!
Maintainer: candoizo
Author: candoizo
Section: Tweaks (Masq Extensions)
