Package: masq.extension.soundcloud
Name: MASQSoundCloud
Depends: ca.ndoizo.masq
Version: 1.0a
Architecture: iphoneos-arm
Description: SoundCloud extension for MASQKit!
Maintainer: candoizo
Author: candoizo
Section: Extensions
