Package: ca.ndoizo.masq
Name: MasqKit
Depends: preferenceloader
Version: 1.0a
Architecture: iphoneos-arm
Description: Core functionality & preference management for MasqKit.
Maintainer: candoizo
Author: candoizo
Section: Tweaks
