Package: masq.extension.spotify
Name: MASQSpotify
Depends: ca.ndoizo.masqkit
Version: 1.1
Architecture: iphoneos-arm
Description: Spotify extension (built for v8.52), using MasqKit!
Maintainer: candoizo
Author: candoizo
Section: Tweaks (Masq Extensions)
Depiction: https://ndoizo.ca/masq.extension.spotify
