Package: masq.theme.basic
Name: Basic Masqpack
Version: 1.0b
Architecture: iphoneos-arm
Description: Some basic examples of Masq themes.
Maintainer: candoizo
Author: candoizo
Section: Tweaks (Masq Themes)
Depends: ca.ndoizo.masq
